<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @menu.image.variant(resize_to_fit: [400, 600]) %>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td><strong>Nama menu:</strong></td>
								<td><%= @menu.nama %></td>
							</tr>
							<tr>
								<td><strong>Harga:</strong></td>
								<td><%= @menu.harga %></td>
							</tr>
							<tr>
								<td><strong>Rating:</strong></td>
								<td><%= @menu.rating %></td>
							</tr>
							<tr>
								<td><strong>Warung:</strong></td>
								<td><%= @menu.warung %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div> 

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
